.skill-item {
    margin: 10px;
    background-color: white;
    overflow: hidden;
}

.image-left {
    float:left;
    margin: 0.5em 1em;
}

.image-right {
    float:right;
    margin: 0.5em 1em;
}

.text {
    width: auto;
    margin: 1em;
}

.text-center {
    text-align: center;
}

.gray,
.gray a,
.gray a:visited,
.gray a:hover{
	color: #aaa;
}

body {
    background-color: rgba(0,0,0,0.1);
    font-family: Computer Modern, Calibri;
}

a:visited { color: black;}
a:link { color: black;}

h1 {
    font-weight: normal;
    color: black;
}

@font-face {
    font-family: "Computer Modern";
    src: url('/static/cmunss.otf');
}