<div class="paper-item">
  <div class="paper-title">{{ paper.title }}</div>
  <div class="paper-authors">{{ paper.authors | replace: 'Chenyang Yuan', '<strong>Chenyang Yuan</strong>' }}</div>
  <div class="paper-venue">
    {% if paper.published-url %}
    <a href="{{ paper.published-url }}" target="_blank">
      {{ paper.venue }}, {{ paper.year }}
    </a>
    {% else %}
      {{ paper.venue }}, {{ paper.year }}
    {% endif %}

    <span class="paper-links">
    {% if paper.code-url %}
      <a href="{{ paper.website-url }}" target="_blank">[website]</a>
    {% endif %}
    {% if paper.preprint-url %}
      <a href="{{ paper.preprint-url }}" target="_blank">[{{ paper.preprint-type }}]</a>
    {% endif %}
    {% if paper.pdf-url %}
      <a href="{{ paper.pdf-url }}" target="_blank">[pdf]</a>
    {% endif %}
    {% if paper.poster-url %}
      <a href="{{ paper.poster-url }}" target="_blank">[poster]</a>
    {% endif %}
    {% if paper.code-url %}
      <a href="{{ paper.code-url }}" target="_blank">[code]</a>
    {% endif %}
    </span>
  </div>
</div>
