{% assign n = 0%}
<ul class="project-list">

  <li class="project-item">
    <div class="text">
      <h3 class="page-title">{{ page.intro-title }}</h3>
      {{ intro-content | markdownify }}
    </div>
  </li>

  {% for item in list reversed %}
    <li id="{{ item.id }}" class="project-item" >
      {% assign iseven = forloop.index | modulo: 2 %}
      {% if iseven == 1 %}
        <div class="image-right">
      {% else %}
        <div class="image-left">
      {% endif %}
        <a  href="{{ item.link }}">
          <img src="{{ item.image-src }}" width="{{ item.image-width }}">
        </a>
      </div>
      <div class="text">
        <a  class="project-link" href="{{ item.link }}">
          <h3> {{ item.name }} </h3>
        </a>
        {{ item.content | markdownify }}
      </div>
    </li>
  {% endfor %}
</ul>
