/* Rosario. I've added and changed few things. Feel free to change it as you like */

/* Font size of 2.0 is too big, I'll reduce it */
body {font-size: 1.9rem;}

/* Adding some text shadow*/
.site-head {text-shadow: 2px 2px #234;}
.site-head a {color:#eee;}

/* The font is too large in the post view. Revert to small size*/
.post-header .blog-title {font-size:inherit;}

/* Reduce font size and add line-height*/
pre{
	font-size: 0.75em;
	line-height: 1.4em;
}

/* Author styling */
.author {margin-bottom:1em;}
.author header{
	float:left;
	width: 80px;
}
.author article{
	margin-left:80px;
	min-height: 80px;
	padding-left:20px;
}
img.profile {
	width:80px;
	height:auto;
  	border-radius: 50px;
}

.project-list {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.project-item {
    margin: 10px auto;
    width: 80%;
    max-width: 900px;
    background-color: white;
    overflow: hidden;
    padding: 10px 50px;
}

.project-link {
    color: black;
    text-decoration: none;
}

.top-bar {
    background-color: white;
}

.top-bar:after {
    clear: both;
}
.top-bar:before,
.top-bar:after {
    display: table;
    line-height: 0;
    content: "";
}

.top-bar-item {
    padding-top:    16px ;
    padding-bottom: 10px ;
    padding-left:   30px ;
    padding-right:  30px ;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #0072C1;
    float: left;
    font-size: 18px;
    text-decoration: none;
}

.top-bar-item:hover {
    background-color: #eee;
}

.top-bar-title {
    font-size: 24px;
    font-weight: 800;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #0072C1;
    float: left;
    text-decoration: none;
}

.image-left {
    float:left;
    margin: 0.5em 1em;
}

.image-right {
    float:right;
    margin: 0.5em 1em;
}

columns {
    display: inline-block;
    width: 100%;
}
columns {
    clear: both;
    margin-top: -20px;
    margin-bottom: -20px;
}

columns .highlight {
    display: table-cell;
    width: 47.5%;
    height: 100%
    padding-left: 2.5%;
    padding-right: 2.5%;
    float: left;
}

.text {
    width: auto;
    margin: 1em;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}