<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{{ page.titlebar }}</title>
    <meta name="description" content="{{ site.meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% if page.meta_title %}
    <meta property="og:title" content="{{ page.meta_title }}" />
    {% endif %}
    {% if page.meta_description %}
    <meta property="og:description" content="{{ page.meta_description }}" />
    {% endif %}
    {% if page.meta_type %}
    <meta property="og:type" content="{{ page.meta_type }}" />
    {% endif %}
    {% if page.meta_url %}
    <meta property="og:url" content="{{ page.meta_url }}" />
    {% endif %}
    {% if page.meta_image %}
    <meta property="og:image" content="{{ page.meta_image }}" />
    {% endif %}
    {% if page.twitter_card %}
    <meta name="twitter:card" content="{{ page.twitter_card }}">
    {% endif %}


    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/screen.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700&display=swap" />
    <!-- This is for syntax highlight -->
    <link rel="stylesheet" type="text/css" href="/assets/css/syntax.css">
    <!-- Customisation  -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />

    {% if page.jquery %}
      <script type="text/javascript" src="/assets/js/index.js"></script>
    {% endif %}
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BSS27832RD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-BSS27832RD');
    </script>

</head>
<body class="home-template">
  <nav class="top-bar inner">
    <a class="top-bar-title" href="/index.html">
      Chenyang Yuan
    </a>

    <a class="top-bar-item" href="/blog">
      Blog
    </a>
    <a class="top-bar-item" href="/research.html">
      Research
    </a>
    <a class="top-bar-item" href="/papers.html">
      Papers
    </a>
    <a class="top-bar-item" href="/tutorials.html">
      Tutorials
    </a>
    <a class="top-bar-item" href="/software.html">
      Software
    </a>
    <a class="top-bar-item" href="/projects.html">
      Misc
    </a>
  </nav>

    {{ content }}

  <footer class="site-footer inner">

    <section class="poweredby">Made with Jekyll using <a href="https://github.com/rosario/kasper">Kasper theme</a></section>

  </footer>

</body>
</html>
