<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{{ page.titlebar }}</title>
    <meta name="description" content="{{ site.meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% if page.meta_title %}
    <meta property="og:title" content="{{ page.meta_title }}" />
    {% endif %}
    {% if page.meta_description %}
    <meta property="og:description" content="{{ page.meta_description }}" />
    {% endif %}
    {% if page.meta_type %}
    <meta property="og:type" content="{{ page.meta_type }}" />
    {% endif %}
    {% if page.meta_url %}
    <meta property="og:url" content="{{ page.meta_url }}" />
    {% endif %}
    {% if page.meta_image %}
    <meta property="og:image" content="{{ page.meta_image }}" />
    {% endif %}
    {% if page.twitter_card %}
    <meta name="twitter:card" content="{{ page.twitter_card }}">
    {% endif %}


    <meta charset="UTF-8">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/screen.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Open+Sans:700,400" />
    <!-- This is for syntax highlight -->
    <link rel="stylesheet" type="text/css" href="/assets/css/syntax.css">
    <!-- Customisation  -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />

    {% if page.jquery %}
      <script type="text/javascript" src="/assets/js/jquery-1.10.2.min.js"></script>
      <script type="text/javascript" src="/assets/js/jquery.fitvids.js"></script>
      <script type="text/javascript" src="/assets/js/index.js"></script>
    {% endif %}

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BSS27832RD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-BSS27832RD');
    </script>

    <!-- Google Analytics  -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                               m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43609447-2', 'chenyang.co');
      ga('send', 'pageview');
    </script>
</head>
<body class="home-template">
  <div class="top-bar inner">
    <div class="top-bar-title" href="/">
      Chenyang Yuan
    </div>
    <a class="top-bar-item" href="/index.html">
      About
    </a>
    <!--
    <a class="top-bar-item" href="/blog">
      Blog
    </a>
    -->
    <a class="top-bar-item" href="/research.html">
      Research
    </a>
    <a class="top-bar-item" href="/tutorials.html">
      Tutorials
    </a>
    <a class="top-bar-item" href="/software.html">
      Software
    </a>
    <a class="top-bar-item" href="/projects.html">
      Misc
    </a>
  </div>

    {{ content }}

  <footer class="site-footer inner">

    <section class="poweredby">Made with Jekyll using <a href="https://github.com/rosario/kasper">Kasper theme</a></section>

  </footer>

</body>
</html>
