---
layout: default
---

<ul class="project-list">

  <li class="project-item">
    <div class="text">
      <h3> In Submission </h3>
      <p> J. Thai, <b> C. Yuan</b>, A. Bayen, "Resiliency of
      Mobility-as-a-Service Systems to Denial-of-Service Attacks", <i> IEEE Transactions on Control of Network Systems </i>,
      <a href="http://www.chenyang.co/IEEE_TNCS_submission.pdf">[pdf]</a>
    </div>
  </li>

  <li class="project-item">
    <div class="text">
      <h3> Accepted </h3>
      <p> <b>C. Yuan </b>, J. Thai, A. Bayen, "ZUbers against ZLyfts Apocalypse:
      An Analysis Framework for DoS Attacks on Mobility-as-a-Service
      Systems", <i> ACM/IEEE International Conference on Cyber-Physical
      Systems</i> <a href="http://www.chenyang.co/ICCPS16_submission.pdf">[pdf]</a>
    </div>
  </li>
</ul>
